* {
    box-sizing: border box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.nav_color{
    display: flex;
    justify-content: center;

}

.nav-color-div {
    width: 100%;
    height: 5px;
    background: linear-gradient(to right,#514EA6, #A9B9D9); 
    background-position: center;
}

.nav_items{
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
}

.nav-section {
    height: 80px;
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: flex-start;
    align-content: center;
}

.nav-social{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav-section li {
    margin: auto 0;
    display: flex;
}

.nav-section a {
    font-size: 1.8rem;
    padding: 0 3rem;
    color: #47458C;
    text-align: center;
}

.nav-section_menu-icon{
    background-image: url('/resource/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10rem;
    width: 150px;
    height: 80px;
}