.benefits-content-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    place-items: center; 
    transition: transform 0.5s ease-in-out;
}
.benefits-card{
    max-width: 400px;
    padding: 0;
    border-radius: 10px;
}
.benefits-card img{
    max-width: 400px;
    max-height: 400px;
    padding: 0;
    border-radius: 10px;
}
.benefits-card div{
    align-items: center;
}
.professionals-cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    opacity: 0;
}
.professionals-cards-container__efect{
    left: 0px;
    opacity: 1;
    transition: 1s linear;
}
.professional-card{
    min-width: 200px;
}
.block-service{
    display: flex;
}
.first-hipnosis-text p{
    font-size: 2.4rem;
}