/*
1. Position
2. Box model
3. Tipography
4. View
5. Others
*/
:root{
    /*colors*/
    --main-color: #01aeac;
    --warm-black: #201e1c;
    --black: #282623;
    --just-white: #f2f2f2;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
}
ul{
    list-style: none;
}

/*Navigation bar style*/

.nav-color-div {
    width: 100%;
    height: 5px;
    background: linear-gradient(to right,#514EA6, #A9B9D9); 
    background-position: center;
}
.nav_items{
    display: flex;
    height: 60px;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
}
.menu-btn{
    display: block;
    position: absolute;
    top: 35px;
    right: 30px;
    z-index: 2;
    font-size: 2rem;
    cursor: pointer;
}
.nav_items .nav-section_menu-icon{
    height: 60px;
    /*background-image: url('/resource/logo.png');*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
}
.nav-section {
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background: #2f3640;
    height: 100%;
    transform: translateX(-400px);
    padding: 30px;
    opacity: 1;
    transition: transform 0.5s ease-in-out;
}
.nav_items .nav-section.show{
    transform: translateX(-20px);
}
.nav_items .nav-section li {
    padding: 1.8rem 3rem;
    margin: auto 0;
}
.nav-section a {
    font-size: 1.8rem;
    color: #f2f2f2;
    text-align: center;
}

 /*Main image*/

.first{
    position: relative;
    text-align: center;
    border: 0;
}
.first_image{
    width: 100%;
    height: 50vh;
    background: url('/resource/smile-large.jpg') no-repeat center center/cover;
}
.first_title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.first_title h3{
    font-size: 3.2rem;
    color: white;
}

/*Block of service*/

.block-service{
    margin: 0 auto;
}
.feature-block{
    max-width: 400px;
    min-width: 280px;
    height: 27rem;
    margin: 0 auto;
}
.feature-block_logo{
    width: 7rem;
    height: 7rem;
    margin: 2rem auto;
}
.feature-block_logo i{
    color: #004B5E;
    font-size: 7rem;
}
.feature-block_title, .feature-block_text{
    display: flex;
    justify-content: center;
    margin: 1rem 2rem;
}
.feature-block_title h3{
    color: #002F3B;
    font-size: 2.3rem;
}
.feature-block_text p{
    color: #002F3B;
    font-size: 2rem;
    text-align: center;
}

/*Product cards title*/

.main-product-detail{
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}
.product-detail--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin-top: 50px;
    margin: 0 auto;
    text-align: center;   
}
.product-detail--title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

/*Product card content*/

.product-card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: auto;
    margin: 15px auto;
    padding: 15px;
    text-align: center;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product-card--img{
    width: 100%;    
    min-width:200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.product-card--title{
    margin-top: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

/*Message*/

.color-section-main{
    width: 100%;
    height: 200px;
    text-align: center;
    background: linear-gradient(207.8deg,#514EA6 16.69%, #A9B9D9 100%); 
}
.color-section-main h2{
    padding-top: 70px;
    font-size: 2.4rem;
    color: #f2f2f2;
}
.color-section--social{
    margin-top: 10px;
}
.color-section--social a{
    margin: 0 10px;
    font-size: 3rem;
    color: var(--just-white);
}

/*Footer*/

footer {
    width: 100%;
    height: 40px;
    padding-top: 15px;
    text-align: center;
    background-color: var(--warm-black);
}
footer p{
    font-size: 1rem;
    font-weight: bold;
    color: var(--just-white);
}